.container-menu {
  margin-top: 11vh;
  margin-left: 6.2rem;
  width: calc(100% - 6.2rem);
  height: 100%
}

.container-sugerencia{
  margin-left: 3vh;
  margin-top: 3vh;
  height: 40vh;
}

.items {
    margin-top: 4.3rem;
    margin-bottom: 20px;

}

#icono-grupo,
#icono-manual,
#icono-musica,
#icono-peliculas,
#icono-series,
#icono-biblioteca,
#icono-perfil{
    margin-right: 10%;
}

#quienessomos {
  font-style: italic;
}

.mb-0 > a {
    display: block;
    position: relative;
  }
  .mb-0 > a:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
  }
  .mb-0 > a[aria-expanded="true"]:after {
    content: "\f077"; /* fa-chevron-up */
  }