.parent-container-cancion{
  margin-top: 10vh;
  margin-left: 6.2rem;
}

.MusicaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  
  .Artista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
  }
  
  .Artista img{
    width: 35%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  #comentarios-cancion{
    margin-right: 100vh;
  }
  .UserInputContainer {
    width: 100%;
    margin-top: 9%;
   
  }
  
  .CommentBox {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    word-wrap: break-word;
  }

  .container-comentarios {
    margin-left: 10vh;
  }

  #comentarios-cancion {
    margin-right: 10vh;
  }

  #row-cancion{
    margin-right: 0;
  }

