.content-crear-cuenta {
  background-color: #F5F5F5;
  margin-top: 8vh;
  margin-left: 6.3rem;
  width: calc(100% - 6.3rem);
  height: calc(100% - 8vh);
  display: flex;
  justify-content: center;
  align-items: center;

}

.crear-cuenta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 70%;
  background-color: #78939878;
  border-radius: 45px;
  font-family: 'livvic';
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imagen-crear-cuenta {
  margin-top: 10px;
  margin-bottom: 2vh;
  width: 4vw;
}

.label-crear-cuenta, .label-contraseña {
  margin-left: 0px;
  margin-top: 2vh;
  margin-bottom: 0.5vh;
  font-size: 2.5vh;
  color: black;
}

.input-crear-cuenta {
  width: 24vw;
  height: 4vh;
  margin-bottom: 0.5vh;
  border-radius: 5px;
  border: black 2px;
}

.boton-aceptar {
  width: 8vw;
  font-size: 3vh;
  background-color: #009f04;
  color: white;
  border-radius: 10px;
  border: solid 1px #067509;
  display: block;
  margin-top: 2vh;
  margin-inline: auto;
  margin-bottom: 0vh;
}

.boton-aceptar:hover {
  background-color: #067509;
}

.inline-crearcuenta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-crearcuenta {
  color: #3d3d3d;
  font-size: 1.8vh;
  margin-left: 1vh;
}

.span-crearcuenta {
  margin-bottom: 10px;
  margin-top: 0;
  
  color: red;
  font-size: 20px !important;
}